<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="FlightStatsAppID" value="0313ad7d" />
    <add key="FlightStatsAppKey" value="c33bfb6544f49841d453d2d1ea494f6e" />
    <add key="AirlineCodeGDSSource" value="LB,OD" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="flightServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="flightServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.flightstats.com:443/flex/flightstatus/soap/v2/flightService" binding="basicHttpBinding" bindingConfiguration="flightServicePortBinding" contract="FlightSoapApiService.flightService" name="flightServicePort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>