<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MMT_WS_FlightWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MMTLiveEntities" connectionString="metadata=res://*/MMTLive.csdl|res://*/MMTLive.ssdl|res://*/MMTLive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.43.94;initial catalog=Multicompany;persist security info=True;user id=navappuser;password=T3stn@v55word;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MMTSqlLiveEntities" connectionString="metadata=res://*/MMTSqlLive.csdl|res://*/MMTSqlLive.ssdl|res://*/MMTSqlLive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.43.94;initial catalog=MMTSqlLive;persist security info=True;user id=navappuser;password=T3stn@v55word;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="timerTime" value="300000" />
    <add key="LOBCodes" value="LOB02710" />
    <add key="MaxMinute" value="300" />
    <add key="MinMinute" value="180" />
    <add key="AllowedDelayMin" value="15" />
    <add key="DiffInDelayMin" value="15" />
    <add key="ResendMailMin" value="30" />
    <add key="FlightStatsAppID" value="813c62b8" />
    <add key="FlightStatsAppKey" value="c803208f8989c9cee433343b5b61c7f0" />
    <add key="AirlineCodeGDSSource" value="DC" />
    <add key="CacheTime" value="15" />
    <add key="WUApiKey" value="812113203049c044" />
    <add key="WeatherStatusStaleTimeInMin" value="180" />
    <add key="ItineraryXmlDumpPath" value="E:\NavisionProject_XML_Dump\Nav-Process-XML-Dump-FlightWeatherInfo\itinerarydump.xml" />
    <add key="ItineraryQueueDumpPath" value="E:\NavisionProject_XML_Dump\Nav-Process-XML-Dump-FlightWeatherInfo\itineraryQueue.dat" />
    <add key="MMTLiveEntitiesMetadata" value="metadata=res://*/MMTLive.csdl|res://*/MMTLive.ssdl|res://*/MMTLive.msl;provider=System.Data.SqlClient;" />
    <add key="MMTSQLLiveEntitiesMetadata" value="metadata=res://*/MMTSqlLive.csdl|res://*/MMTSqlLive.ssdl|res://*/MMTSqlLive.msl;provider=System.Data.SqlClient;" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="flightServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="flightServicePortBinding1" />
        <binding name="MMT_WEBS_MailManagerSoap" sendTimeout="00:02:00" receiveTimeout="00:02:00" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="MMT_WEBS_InteractionManagerSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.flightstats.com:443/flex/flightstatus/soap/v2/flightService" binding="basicHttpBinding" bindingConfiguration="flightServicePortBinding" contract="FlightSoapApiService.flightService" name="flightServicePort" />
      <endpoint address="http://midoffice.mmt.com/mailmanager/mmt_webs_mailmanager.asmx" binding="basicHttpBinding" bindingConfiguration="MMT_WEBS_MailManagerSoap" contract="MMT_Webs_MailManager.MMT_WEBS_MailManagerSoap" name="MMT_WEBS_MailManagerSoap" />
      <endpoint address="http://midoffice.mmt.com/MMT_WEBS_InteractionManager/MMT_WEBS_InteractionManager.asmx"
        binding="basicHttpBinding" bindingConfiguration="MMT_WEBS_InteractionManagerSoap"
        contract="InteractionManager.MMT_WEBS_InteractionManagerSoap"
        name="MMT_WEBS_InteractionManagerSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MMT_WS_FlightWeather.Properties.Settings>
      <setting name="MMT_WS_FlightWeather_MMT_Webs_MOServices_MOServices"
        serializeAs="String">
        <value>http://navwebservices.mmt.com/MMT_WEBS_MOServices/MOServices.asmx</value>
      </setting>
    </MMT_WS_FlightWeather.Properties.Settings>
  </applicationSettings>
</configuration>