<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MMT_WEBS_MailManagerSoap" />
        <binding name="MMT_WEBS_InteractionManagerSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://navwebservices.mmt.com/MMT_WEBS_InteractionManager/MMT_WEBS_InteractionManager.asmx"
        binding="basicHttpBinding" bindingConfiguration="MMT_WEBS_InteractionManagerSoap"
        contract="InteractionManager.MMT_WEBS_InteractionManagerSoap"
        name="MMT_WEBS_InteractionManagerSoap" />
      <endpoint address="http://navwebservices.mmt.com/mailmanager/mmt_webs_mailmanager.asmx"
        binding="basicHttpBinding" bindingConfiguration="MMT_WEBS_MailManagerSoap"
        contract="MMT_Webs_MailManager.MMT_WEBS_MailManagerSoap" name="MMT_WEBS_MailManagerSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>